.center{
  width: 60%;
  border: 1px solid #000000;
  margin: 50px auto;

  .push{
    width: 45%;
    float: left;
    .push-button{
      margin-right: 20px;
    }
  }
  .time{
    width: 45%;
    float: right;
    .form-button{
      width: 100%;
    }
  }
}